@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.noGutter {
  padding-left: 0px;
  padding-right: 0px;
}

.root {
  @include padding(0, 1, 0, 1);
}

@include breakpoint-md {
  .root {
    max-width: 1244px;
    margin-left: auto;
    margin-right: auto;
    @include padding(0, 4, 0, 4);
  }
}