@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.root {
  background-color: $color-white;
  display: inline-block;
  border-radius: $input-radius;
}

.input {
  border: none;
  font-size: 18px;
  background-color: transparent;
  width: 100%;
  outline: none;
  font-size: 18px;
  padding: 12px;
}

@include breakpoint-md {
  .root {
    min-width: 395px;
  }

  .input {
    padding: 24px;
  }
}