@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.root {
  position: relative;
  display: inline-block;
}

.options {
  background-color: $color-white;
  position: absolute;
  top: calc(100% + 16px);
  border-radius: 21px;
  padding: 11px;
  width: 100%;
  max-height: 219px;
  overflow-y: auto;
}

.option {
  padding: 21px 12px;
  display: block;

  &:nth-child(even) {
    background-color: rgba(151, 151, 151, 0.1);;
    border-radius: 12px;
  }
}