@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.root {
  background-color: #E3E1DC;
  border-bottom-left-radius: 21px;
  border-bottom-right-radius: 21px;
  padding-top: 40px;
  padding-bottom: 94px;
}