@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.root {
  background-color: #E3E1DC;
  border-bottom-left-radius: 21px;
  border-bottom-right-radius: 21px;
  padding-top: 40px;
  padding-bottom: 94px;
}

.title {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 10px;
  margin-bottom: 36px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 60px;
    left: 0;
    background-color: #4D270C;
  }
}

.headingWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 46px;
}

.heading {
  font-size: 48px;
  max-width: 530px;
  line-height: 59px;
  font-weight: 800;
  margin: 0;
}

.breeds {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 51px;
}

.breed {
  height: 220px;
}

.breedImg {
  height: 220px;
  width: 100%;
  object-fit: cover;
  border-radius: 24px;
}

.breadName {
  font-size: 18px;
  font-weight: 500;
}