@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.root {
  background-image: url('../../images/heroImage.jpg');
  min-height: 583px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-top: 115px;
  padding-top: 144px;
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.title {
  color: $color-white;
  font-size: 24px;
  max-width: 370px;
}

.image {
  min-width: 300px;
}