@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.root {
  background-image: url('../../images/heroImage.jpg');
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
  padding-top: 30px;
  padding-bottom: 30px;
}

.title {
  color: $color-white;
  max-width: 370px;
  font-size: 16px;
}

.imageDesktop {
  display: none;
}

@include breakpoint-md {
  .root {
    min-height: 583px;
    padding-top: 144px;
    margin-left: auto;
    margin-right: auto;
  }

  .imageMobile {
    display: none;
  }

  .imageDesktop {
    display: block;
  }

  .image {
    min-width: 300px;
  }

  .title {
    font-size: 24px;
  }
}